<head>
<div class="container">
	<h1><title>School Forum</title></h1>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
<div class ="container">
            <div><h1>hello</h1></div><br /><br />
<div class ="container">
        <div id="list">

            {% for post in post %}
                <div class="post">
                    <h3>{{ post.title }}</h3><br />
                    by {{ post.author }} | <span class="date">{{ post.date_created }}</span> | Last Edited on: <span class="date">{{ post.date_published }}</span> <br /><br />
                    {{ post.body }} <br />
                </div>
                {% empty %}
                    <h1>No Posts Found</h1>
            {% endfor %}
        </div>

</div>

</div>
</div>

</body>
</html>